.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    
}

.OnVisibleAnimate{
    &-fast{
        animation: fadein 1s;
    }
    &-slow{
        animation: fadein 2.5s;
    }   
}



.contentH1{
    font-size: 4rem;
    color: #071526;
}

.contentH1::after{
    content: '';
    display: block;
    width: 100%;
    border:1px solid #F29727;;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 20px;
    height: auto;
    text-shadow: -3px 4px 19px black;
}

.card{
    box-shadow: -6px 7px 20px -5px black;
    flex-wrap: wrap;
    border-radius: 2rem;
    margin: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    color: white;
    transition: all .3s ease-in-out;
}

.card:hover{
    scale: 1.1;
}

// ##### Story #######
.StoryConTainer{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 4rem;
}

#storyVideoConatiner{
    position: relative;
    
}

.StoryConTainer video{
    
    width: 25rem;
    margin: 2rem 3rem;
    border-radius: 3rem;
    box-shadow: -6px 7px 20px -5px black;
}

.StoryConTainer .TextContent{
    width: 30rem;
}

.StoryConTainer button{
    color: white;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 1rem;
    background: none;
    margin: 20px 20px 20px 60px;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.StoryConTainer button:hover{
    scale: 1.3;
}

.TextContent p{
    margin-top: 2px;
}

.ytCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 20px;
    height: auto;
    text-shadow: -3px 4px 19px black;
}

.ytCardContainer iframe{
    display: block;
    min-width: 25rem;
    height: 15rem;
    border-radius: 1rem;
}

/* ##### Animation ######  */
@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.reelContainer{
    padding: 2rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    video{
        padding: 5px;
        transition: all .2s ease-in-out;
    }
    // video:hover{
    //     scale: 1.02;
    // }
    video:focus{
        border: 1px solid orange;
    }
}
